body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

input[type="text"], input[type="password"], input[type="file"], select  {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    border: 2px solid #1decff;
    outline: none;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b300ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#cards-container{
    display: flex;
    column-count: 6;
    width: 100%;
    height: 100vh;
}
.card {
    width: 100%;
    border: 2px solid #1decff;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;
    height: 100%;
    position: relative  ;
}

.card .content{
    z-index: 2;
    position: relative;
    display: block;
}

.card img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.card .container-icon{
    column-count: 2;
}
.card .container-icon li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00000080;
}
.card .container-icon li .icon-name{
    width: 0;
    opacity: 0;
}
.card.open .container-icon li:hover{
    width: fit-content;
}
.card svg{
    width: 100%;
    height: 100%;
}
